*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    background-color: #00a5ff;
    height: 10rem;
    width: 100%;
}
.logo {
    height: 8rem;
    width: 9rem;    
    display: inline-block;
}
.logo img{
    height: 8rem;
    width: 9rem;    
    margin: 1rem;
    border-radius: 2px;
}

.header-nav{
    width: 60rem;
    height: 3rem;
    margin: 1rem;
    border-radius: 2px;
    position: absolute;
    right: 0;
    top: 5rem;
    display: flex;
    justify-content: flex-end;  
}
.header-nav_item{
    display: flex;
    justify-content: space-between; 
    height: 100%;
    margin: 0 0.25rem;
    border-radius: 4px;
}
.header-nav_item a{
    display: flex;
    text-decoration: none;
    color: inherit;
    border-radius: 4px;
}
.header-nav_item a:hover{
    background-color:#00d7ff;
}

.header-nav_item_icon{
    display: inline-block;
}
.header-nav_item_icon img{
    width: 3rem;
    height: 100%;
    padding: 0.2rem;
}
.header-nav_item_text{
   
    font-size: 1.6rem;
    font-weight: bolder;
    text-align: right;
    margin: auto 0.2rem;
    
}

.color1 {color: #007dff;}
.color2 {color: #00a5ff;}
.color3 {color: #00d7ff;}
.color4 {color: #07ffff;}
.color5 {color: #c5ffff;}
